.App {
  text-align: center;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #0C101F;
  --secondary-color: #124985;
  --input-border-color:#20305A;
}
@font-face {
  font-family: "Adobe Fan Heiti Std";
  src: url("./Assets/Fonts/Adobe\ Fan\ Heiti\ Std\ B/AdobeFanHeitiStd-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Bonkoff";
  src: url("./Assets/Fonts/Bonkoff.TTF");
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Toaster{
  z-index: 10000;
  position: absolute;
  top: 100px;
  left: 100px;
}

/* loader */
/* From Uiverse.io by AbanoubMagdy1 */ 
.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #333;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  /* background-color: var(--secondary-color); */
  background: linear-gradient(180deg, #124985 0%, #0D172A 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MainContent {
  max-height: 90vh;
  overflow-y: scroll;
}

/* For WebKit-based browsers (Chrome, Safari) */
.MainContent::-webkit-scrollbar {
  width: 2px;
}

.MainContent::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.MainContent::-webkit-scrollbar-track {
  background: transparent;
}

.MainContent::-webkit-scrollbar-button {
  display: none;
}

/* For Firefox */
.MainContent {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}
